@media screen and (max-width: 1024px) { 
    /* index.html */
    /* header */
    .header__search-container {
        height: auto;
    }
    .select-custom {
        margin-bottom: 18px;
        width: 287px;
    }
    .search-select {
        width: 33.3333%;
        margin-right: -19px;
    }
    /* end header */

    /* slider */
    .slider__carousel-item {
        top: 14%;
    }
    .slider__carousel-item h2 {
        font-size: 90px;
    }
    /* end slider */

    /* about */
    .about__row-content {
        width: calc(100% - 108px);
        margin: 0 auto
    }
    .item-title {
        margin: -8px 0 0 43%;
        font-size: 26px;
    }
    /* end about */
    /* services */
    .services-list {
        width: calc(100% - 108px);
        margin: 0 auto;
    }
    .services-item__content {
        margin: 9px 0;
    }
    /* end services */
    /* banner */
    .banner-container {
        width: calc(100% - 108px);
    }
    .banner-title >h2 {
        font-size: 90px;
    }
    /* end banner */
    /* product */
    .product-list {
        width: calc(100% - 108px);
        margin: 0 auto;
    }
    /* end product */
    .team-slider {
        width: calc(100% - 108px);
        margin: 0 auto;
    }
    .team-carousel {
        width: calc(100% - 30px);
    }
    .banner-2__container {
        width: calc(100% - 108px);
        margin: auto;
        height: auto;
    }
    /* end banner */
    /* testimonial */
    .testimonial-carousel {
        width: calc(100% - 108px);
        margin: 0 auto;
    }
    /* end testimonial */
    .contact-item  {
        width: calc(100% - 108px);
        margin: 0 auto;
    }
    .vendor-carousel {
        width: calc(100% - 108px);
    }
    .footer-top {
        height: auto;
    }
    .footer-top__container {
        padding: 0;
    }
    .footer-top__item {
        width: 25%
    }
    .footer-top__social-icon i {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .header__top-header {
      display: none;
    }
    .header__nav-bar {
      margin: 0 auto;
      width: 100%;
    }
    .header-mobile {
      display: block;
    }
    .header__menu {
      display: none;
    }
    .header-mobile-menu {
      display: none;
    }
    .search-select,.services-item,.product-item {
        width: 50%;
    }
    .slider__carousel-item h3 {
        width: 100%;
    }
    .slider__carousel-item h2 {
        font-size: 80px;
    }
    .slider__carousel-item {
        top: 6%;
    }
    .row-content__item {
        display: block;
        width: 100%;
    }
    .item {
        width: 100%;
        align-items: center;
        margin-bottom: 18px;
    }
    .banner-item {
        display: block;
        width: 100%;
    }
    .banner-left,.banner-right,.contact-info__group {
        max-width: 100%;
    }
    .contact-item {
        display: block;
    }
    .contact-form {
        margin-bottom: 27px;
    }
    .footer-top__item {
        width: 50%;
        margin-bottom: 54px;
    }
  }